.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
core/src/main/resources/
profile-out/*
profile-out*/*
gradle-user-home/*
*_out
*_out/*

### Source code ###
integration-test/src/main/resources/lib/

### IntelliJ IDEA ###
.idea/modules.xml
/.idea/workspace.xml
/.idea/checkstyle-idea.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/copilot
.idea/vcs.xml
.idea/workspace.xml
.idea/kotlinc.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Python ###
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
http/
.venv/

### Local results ###
.results/

### Release env
*.env

### Gradle properties
gradle.properties