.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/java/org/mpisws/checker/*.class
src/main/java/org/mpisws/checker/strategy/*.class
src/main/resources/
src/main/java/org/mpisws/runtime/*.class
src/main/java/org/mpisws/solver/*.class
src/main/java/org/mpisws/symbolic/*.class
src/main/java/org/mpisws/util/concurrent/*.class

src/test/java/org/mpisws/concurrent/programs/complex/counter/*.class
src/test/java/org/mpisws/concurrent/programs/complex/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/correct/counter/*.class
src/test/java/org/mpisws/concurrent/programs/correct/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/inconsistent/counter/*.class
src/test/java/org/mpisws/concurrent/programs/inconsistent/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/simple/counter/*.class
src/test/java/org/mpisws/concurrent/programs/simple/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/wrong/counter/*.class
src/test/java/org/mpisws/concurrent/programs/wrong/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/shared/counter/*.class
src/test/java/org/mpisws/concurrent/programs/shared/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/thread_dependency/*.class
src/test/java/org/mpisws/concurrent/programs/thread_dependency/*.txt
src/test/java/org/mpisws/concurrent/programs/dining/*.class
src/test/java/org/mpisws/concurrent/programs/dining/*.txt
src/test/java/org/mpisws/concurrent/programs/mutex/*.class
src/test/java/org/mpisws/concurrent/programs/mutex/*.txt
src/test/java/org/mpisws/concurrent/programs/mutex/common/*.class
src/test/java/org/mpisws/concurrent/programs/mutex/common/*.txt
src/test/java/org/mpisws/concurrent/programs/symbolic/counter/*.class
src/test/java/org/mpisws/concurrent/programs/symbolic/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/random/counter/*.class
src/test/java/org/mpisws/concurrent/programs/random/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/parking/counter/*.class
src/test/java/org/mpisws/concurrent/programs/parking/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/sync/counter/*.class
src/test/java/org/mpisws/concurrent/programs/sync/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/simple/message/*.txt
src/test/java/org/mpisws/concurrent/programs/simple/message/*.class
src/test/java/org/mpisws/concurrent/programs/tagged/message/*.txt
src/test/java/org/mpisws/concurrent/programs/tagged/message/*.class
src/test/java/org/mpisws/concurrent/programs/sync/message/*.txt
src/test/java/org/mpisws/concurrent/programs/sync/message/*.class
src/test/java/org/mpisws/concurrent/programs/message/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/message/counter/*.class
src/test/java/org/mpisws/concurrent/programs/pool/counter/*.class
src/test/java/org/mpisws/concurrent/programs/pool/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/symbolic/gcd/*.class
src/test/java/org/mpisws/concurrent/programs/symbolic/gcd/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/array/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/array/*.txt
src/test/java/org/mpisws/concurrent/programs/concrete/gcd/*.class
src/test/java/org/mpisws/concurrent/programs/concrete/gcd/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/loopVariant/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/loopVariant/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/loop/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/loop/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/coarse/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/coarse/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/fine/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/fine/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/optimistic/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/optimistic/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/lazy/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/lazy/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/node/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/lists/list/node/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/stack/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/stack/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/elimination/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/elimination/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/timeStamped/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/stack/lockFree/timeStamped/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/stack/elimination/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/stack/elimination/*.txt
src/test/java/org/mpisws/concurrent/programs/det/array/*.class
src/test/java/org/mpisws/concurrent/programs/det/array/*.txt
src/test/java/org/mpisws/concurrent/programs/det/loop/*.class
src/test/java/org/mpisws/concurrent/programs/det/loop/*.txt
src/test/java/org/mpisws/concurrent/programs/det/loopVariant/*.class
src/test/java/org/mpisws/concurrent/programs/det/loopVariant/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/coarse/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/coarse/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/fine/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/fine/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/optimistic/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/optimistic/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/lazy/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/lazy/*.txt
src/test/java/org/mpisws/concurrent/programs/det/lists/list/node/*.class
src/test/java/org/mpisws/concurrent/programs/det/lists/list/node/*.txt
src/test/java/org/mpisws/concurrent/programs/atomic/counter/*.class
src/test/java/org/mpisws/concurrent/programs/atomic/counter/*.txt
src/test/java/org/mpisws/concurrent/programs/det/stack/*.class
src/test/java/org/mpisws/concurrent/programs/det/stack/*.txt
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/*.class
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/*.txt
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/elimination/*.class
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/elimination/*.txt
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/timeStamped/*.class
src/test/java/org/mpisws/concurrent/programs/det/stack/lockFree/timeStamped/*.txt
src/test/java/org/mpisws/concurrent/programs/det/queue/*.class
src/test/java/org/mpisws/concurrent/programs/det/queue/*.txt
src/test/java/org/mpisws/concurrent/programs/nondet/queue/*.class
src/test/java/org/mpisws/concurrent/programs/nondet/queue/*.txt
### IntelliJ IDEA ###
.idea/modules.xml
/.idea/workspace.xml
/.idea/checkstyle-idea.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/copilot
.idea/vcs.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store